

nav{
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 50px !important;
}


.sec_1{
    background: url(../img/slider-main.jpg) top center no-repeat;
    background-size: cover;
    padding: 50px;
    height: 100vh;
}